* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #e97094;
  }
  .card {
    width: 640px;
    height: 500px;
    position: absolute;
    margin: auto;
    top: 100px;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    transition: 1s;
  }

  .card:hover .outside {
    transform: rotateY(-130deg);
  }
  .outside,
  .inside {
    height: 100%;
    width: 50%;
    position: absolute;
    left: 50.1%;
  }
  .inside {
    background: #FFD9DA;
    line-height: 3;
    padding: 0 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    left: 50%;
  }
  .outside {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 1;
    transform-origin: left;
    transition: 2s;
    cursor: pointer;
  }
  .front,
  .back {
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);
  }
  .front {
    background-color: #E1E5F2;
    background-image: url('picture.jpg');
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  .back {
    transform: rotateY(180deg);
    background: #FFD9DA;
  }

.outside p {
    font-size: 23px;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 6px;
    color: #000046;
  }
  .inside h1 {
    font-size: 120px;
    line-height: 120px;
  }